<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <title>Roster Giocatori</title>
</head>

<body>
  <div id="app" class="container">
    <!-- contenitore sx -->
    <div class="left">
      <div class="players">

        <div v-for="(player, index) in players" class="player">
          <div class="player-info" @click="playerActive(player, index)">
            <h3>
              <span class="player-name">{{player.nome}}</span>
            </h3>
          </div>
          <div class="match-icon f-right">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </div>
        </div>

      </div>
      <!-- <div class="players">
        <div class="player-info">
            <h3>
              <span class="player-name" >Nessun giocatore disponibile</span>
            </h3>
          </div>
      </div> -->
      <div class="left-footer">
        <label>Nome che stai digitando: {{newPlayerName}}</label>
        <input v-model="newPlayerName" ref="new_player_input" class="new-player-inputs" placeholder="Aggiungi giocatore">
        <div class="left-footer-icon f-right">
          <i class="fa fa-plus" aria-hidden="true" @click="addPlayer"></i>
        </div>
      </div>
    </div>
    <!-- /contenitore sx -->
    <!-- contenitore dx -->
    <div class="right">
      <div class="header-right">
        <div class="header-right-logo">
          <h3 v-if="playerActived !== null">Statistiche di <span id="header-right-player-name">{{playerActived.nome}}</span></h3>
          <h3 v-else>Selezionare un giocatore per vedere le statistiche</h3>
        </div>
      </div>
      <div class="right-infos-container">
        <div class="right-infos" id="chat_container">
            <div class="panel-body">
                <div v-if="playerActived !== null" class="categories">
                    <div class="category">
                        <span>Rimbalzi</span>
                        <span>{{playerActived.rimbalzi}}</span>
                    </div>
                    <div class="category">
                        <span>Falli</span>
                        <span>{{playerActived.falli}}</span>
                    </div>
                    <div class="category">
                        <span>Punti segnati</span>
                        <span>{{playerActived.puntiSegnati}}</span>
                    </div>
                </div>
                <div v-else class="categories">
                    <div class="category empty">
                        <span>Nessuna statistica disponibile</span>
                    </div>
                </div>
            </div>

            <div class="lista-ultime-partite">
                <div v-if="playerActived !== null" class="ultime-partite">
                    <h3>Ultime partite fatte</h3>
    
                    <div v-for="match in playerActived.matches" class="partita">
                      Avversario: <span class="opposing-team">{{match}}</span>
                    </div>
                </div>
                <div v-else class="ultime-partite">
                    <h3>Nessuna partita giocata</h3>
                </div>
            </div>
        </div>
      </div>
    </div>
    <!-- /contenitore dx -->
  </div>

  <script src="main.js"></script>
</body>

</html>
